<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wallapap</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/uikit.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/uikit.js"></script>
    <script src="/js/uikit-icons.js"></script>
</head>
<body>
<!--HEADER-->
<header class="uk-box-shadow-small">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar" data-uk-navbar>
            <div class="uk-navbar-left">
                <img width=30" height="30" src="images/uikit.svg" alt="">
                <a class="uk-navbar-item uk-logo" href="#">Wallapap</a>
            </div>

            <div class="uk-navbar-right">
                <!-- uk-visible@m visible en pantallas m o más-->
                <ul class="uk-navbar-nav uk-visible@m">
                    <li>
                        <a href="/seguidos">
                            <span data-uk-icon="heart"
                                  class="uk-margin-small-right">
                            </span> Seguidos
                        </a>
                    </li>
                    <li>
                        <a href="/misanuncios">
                            <span data-uk-icon="list"
                                  class="uk-margin-small-right">
                            </span> Mis anuncios
                        </a>
                    </li>
                </ul>
                <div class="uk-navbar-item">
                    <a href="/publicar"
                       class="uk-button uk-button-primary uk-visible@m">
                        <span data-uk-icon="plus-circle"
                              class="uk-margin-small-right">
                        </span>Publicar anuncio
                    </a>
                </div>
                <div class="uk-navbar-item">
                    <a href="/login"
                       class="uk-button uk-button-default uk-visible@m">
                        <span data-uk-icon="sign-in"
                              class="uk-margin-small-right">
                        </span>Acceder
                    </a>
                </div>
                <!-- Menú de movil lo oculta en pantallas mayores de m-->
                <div class="uk-navbar-item uk-hidden@m">
                    <a class="uk-navbar-toggle"
                       data-uk-toggle data-uk-navbar-toggle-icon
                       href="#offcanvas-nav">
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>

<!-- Menú para movil - offCanvas -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button
                class="uk-offcanvas-close uk-close uk-icon"
                type="button"
                data-uk-close>
        </button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header">Inicio</li>
            <li>
                <a href="/seguidos">
                    <span class="uk-margin-small-right uk-icon"
                          data-uk-icon="icon: heart">
                    </span>Seguidos
                </a>
            </li>
            <li>
                <a href="/misanuncios">
                    <span class="uk-margin-small-right uk-icon"
                          data-uk-icon="icon: list">
                    </span>Mis anuncios
                </a>
            </li>
            <li>
                <a href="/publicar">
                    <span class="uk-margin-small-right uk-icon"
                          data-uk-icon="icon: plus-circle">
                    </span>Publicar anuncio
                </a>
            </li>
            <li>
                <a href="/login">
                    <span class="uk-margin-small-right uk-icon"
                          data-uk-icon="icon: sign-in">
                    </span>Acceder
                </a>
            </li>
            <li class="uk-nav-header">Categorías</li>
            <li><a href="/anuncios">Coches</a></li>
            <li><a href="/anuncios">Motos</a></li>
            <li><a href="/anuncios">Bicicletas</a></li>
            <li><a href="/anuncios">Informática</a></li>
            <li><a href="/anuncios">Teléfonos</a></li>
            <li><a href="/anuncios">Tv, audio y foto</a></li>
            <li><a href="/anuncios">Electrodomésticos</a></li>
            <li><a href="/anuncios">Moda</a></li>
            <li><a href="/anuncios">Coleccionismo</a></li>
            <li><a href="/anuncios">Construcción</a></li>
            <li><a href="/anuncios">Empleo</a></li>
            <li><a href="/anuncios">Servicios</a></li>
            <li><a href="/anuncios">Otros</a></li>
        </ul>
    </div>
</div>



</body>
</html>

